<div class="artist_container">

<h1> Add New Artist </h1>

<%= form_for @artist do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.submit %>

<% end %>
<br />
<br />

<%=link_to "Back", charts_path, class:"btn" %>
</div>