<div class="charts-container">

<h1>Create New Chart</h1>

<%= form_for @chart do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  
  <%= f.submit %>

<% end %> 
<br />
<br />
<%=link_to "Back", charts_path, class: "btn" %>
</div>
